.btn {
    width: 90%;
    height: 33%;
}
.bg {
    justify-content: space-between;
    padding-left: 2.5%;
    align-items: flex-end;
    flex-direction: row;
}

.container {
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-left-width: 5px;
}